.TmdbSearch {
  font-family: monospace;
  font-size: 13px;
}

.TmdbSearchResults {
  list-style-type: none;
  padding: 10px;
  margin: 0px;
}

.FilmListItem {
 padding: 2px; 
}

.SelectedFilmListItem {
  color: black;
  background-color: green;
}
