.Carousel {
  margin: 5px;
  padding: 5px;

  height: auto;
}

.carousel-heading {
  display: flex;
  justify-content: space-around;
  font-family: "Courier New", monospace;
}

.carousel-heading h1 {
  margin: 0;
  font-size: 22px;
}

.carousel-heading button {
  background: none;
  border: none;
  padding: 2px 8px;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.posters {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: clamp(120px, 10vw, 250px);
  overflow-x: auto;
  scrollbar-width: none;

  gap: 1rem;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}
