.Settings {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: auto;
}

.form-row {
    display: flex;
    align-items: center;
}

.form-row label {
    width: 120px;
    text-align: left;
    padding-right: 8px;
}
.form-row textarea {
    scrollbar-width: none;
}

.form-row input, .form-row textarea {
    border: none;
    width: 300px;
    background-color: rgba(20, 20, 20);
    border-bottom: 1px solid #70dd94;
    color: white;
}

.form-row input:focus, .form-row textarea:focus {
    outline: none;
    border-bottom: 1px solid #70dd94;
}


.form-row input:hover {
    border: none;
}
