.Terminal {
    position: absolute;
    left: 80px;
    bottom: 60px;
    width: 600px;
    height: 300px;
    z-index: 9990;

    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.searchbar {
    position: absolute;
    bottom: 8px;
    width: 95%;
    display: flex;
    align-items: center;
}

#searchbarusername {
    color: var(--colour-robineggblue);
    font-weight: bold;
    margin-right: 8px;
}

.search-input {
    flex: 1;
    height: 28px;
    padding: 0 6px;
    margin: 0;
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: inherit;
    font-size: 14px;
}

.search-input:focus {
  outline: none;
}

.help-icon {
    width: 32px;
    height: 32px;
    margin-left: 6px;
    cursor: pointer;
    filter: brightness(1.2);
}

.help-icon:hover {
    filter: brightness(1.5);
}