.terminal {
    position: fixed;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 4px;
}

.searchbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: #888;
    border-radius: 8px;
}

#searchbarusername {
    padding: 0px 8px;
}

.search-input {
    width: 80%;
    height: 32px;
    padding: 0px;
    background-color: transparent;
    border: none;
}

.search-input:focus {
  outline: none;
}

.help-icon {
    width: 32px;
    height: 32px;
}

.help-icon:hover {
    display: flex;
}

.image-container {
  position: relative;
  display: inline-block;
}