.TmdbMovieCard {
  position: absolute;
  top: 40px;
  right: 80px;
  height: 600px;
  width: 600px;
  z-index: 9990;
  overflow-y: scroll;
  scrollbar-width: none;
}

.TmdbMovieCardImg {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
}
