.Me {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 700px;
  width: 700px;
  z-index: 9990;
  overflow-y: scroll;
  scrollbar-width: none;
}

.UserNav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.UserNavItem {
  border-bottom: 2px solid var(--colour-emerald);
  width: 20%;  
  cursor: pointer;
  display: flex;
  justify-content: center;
}
