.ProfileBackdrop {
    color: white;
}

.avatar-username {
    display: flex;
    align-items: center;
}

.StatCount {
  display: block;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--colour-text);
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: white;
}